/* Criando o Rest da Pagina */
*,a,ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Criando Classes Suportes */
.container{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
/* Personalização do nav bar */
.nav-bar-top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #2992d6;
}
.nav-bar-top article{
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
}
.nav-bar-top article p{
    display: inline-block;
    padding: 10px;
}
.nav-bar-top article:last-child a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    transition: all 0.2s;
}
.nav-bar-top article i{
    margin: 0px 10px;
}
.nav-bar-top article:last-child a:hover{
    background-color: #fff;
    color: #2992d6;
}

/* Personalizando a Section nav-bar */
.nav-bar{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    
}
.nav-bar > .container{
    align-items: center;
}
.nav-bar nav ul{
    height: 90px;
    display: flex;
    align-items: center;
}
.nav-bar a{
    font-size: 15px;
    display: inline-block;
    padding: 15px;
    color: #666;
    border-right: 1px solid #eee;
    transition: all 0.2s;
}
.nav-bar li:nth-child(1 ) a{
    color:  #ca4824;
    border-bottom: 2px solid #ca4824;
}
.nav-bar a:hover{
    color:  #ca4824;
    border-bottom: 2px solid #ca4824;
}
.nav-bar li:nth-child(1 ) a:hover{
    color: #666;
    border-bottom: none;
}
.nav-bar i{
    margin: 0px 20px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}
.nav-bar .areaSarch{
    width: 30%;
    height: 50px;
    background-color: #222;
    position: absolute;
    border-radius: 10px;
    margin: 150px 0px;
    transition: all 0.2s;
    display: none;
}
.nav-bar .areaSarch form input{
    height: 50px;
    background-color: #222;
    padding-left: 30px;
    font-size: 18px;
    color: #666;
    border: none;
    outline: none;
    border-radius: 10px;
}

/* Personalizando a Section Banner */
.banner{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    background-image: url('../Images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.banner > .container{
    align-items: center;
}
.banner article{
    width: 50%;
    height: 40px;
    background-color: #2992d6;
    opacity: 0.5;;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}
.banner article p{
    font-size: 22px;
    font-weight: bold;
    
}

/* Personaliadno a Section welcome */
.welcome{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.welcome .container{
    justify-content: center;
}
.welcome article{
    width: 880px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome article h1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #444444;
    margin-bottom: 30px;
}
.welcome article p{
    font-size: 16px;
    color: #888;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.welcome article a{
    display: inline-block;
    padding: 20px;
    background-color: #2992d6;
    color: #fff;
    text-transform: uppercase;
    border-radius:5px;
    font-size: 16px;
}

/* Persoanlizando a Area Service */
.service{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
}
.service .container{
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}
 .widget-service{
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.widget-service .widget-service-title{
    width: 370px;
    height: auto;
    font-weight: bolder;
    font-size: 22px;
    color: #434343;
    text-align: center;
    margin-bottom: 30px;
}
.widget-service .widget-service-img img{
    width: 370px;
    height: 190px;
    margin-bottom: 30px;
}
.widget-service .widget-service-description{
    width: 370px;
    font-size: 14px;
    color: #999;
    text-align: center;
   
}
.widget-service .widget-service-description a{
    width: 370px;
    font-size: 14px;
    color: #2992d6;
    text-align: center;
}
.service article .btn-saibaMais{
    display: inline-block;
    padding: 13px;
    background-color: #2992d6;
    color: #fff;
    text-transform: uppercase;
    border-radius:5px;
    font-size: 16px;
}

/* Personalizando a Section description-service */
.description-service{
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    
}
.description-service .area-orcamento{
    width: 380px;
}
.description-service .area-orcamento h1{
    font-size: 30px;
    font-weight: bolder;
    color: #434343;
    margin-top: 30px;
}
.description-service .area-orcamento img{
    width: 370px;
    height: 170px;
    margin: 30px 0px;
}
.description-service .area-orcamento p{
    font-size: 14px;
    line-height: 22px;
    color: #aaa;
    text-align: left;
    margin-bottom: 30px;
}
.description-service .btn-saibaMais{
    display: inline-block;
    padding: 13px;
    background-color: #2992d6;
    color: #fff;
    text-transform: uppercase;
    border-radius:5px;
    font-size: 15px;
}
.description-service .area-description-service{
    display: flex;
    flex-direction: column;
    flex:  1;
    margin-left: 30px;
    
}
.description-service .area-description-service h1{
    font-size: 30px;
    font-weight: bolder;
    color: #434343;
    margin: 30px 0px;
}
.description-service .area-description-service p{
    font-size: 14px;
    line-height: 22px;
    color: #aaa;
    text-align: left;
    margin-bottom: 30px;
}
.description-service .area-description-service section{
    display: flex;
    justify-content: space-around;
}
.description-service .area-description-service section ul li{
    width: auto;
    list-style-type:disc;
    color: #aaa;
    margin-bottom: 20px;
}

/* Personalizando a Section newslattle */
.newslattle{
    width: 100%;
    height: 870px;
    display: flex;
    justify-content: center;
    background-image: url('../Images/banner2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.newslattle .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newslattle h1{
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 0px #666;
    margin-bottom: 25px;
}
.newslattle h2{
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 0px #666;
    margin-bottom: 25px;
}

/* Personalizando o Footer */
footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: #2992d6;
    color: #fff;
    font-size: 14px;
}
footer .container {
    align-items: center;
}
footer section{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer section article{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
}
footer section a{
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
footer section a i{
    font-size: 50px;
}

/* CONFIGURAÇÕES EXTRAS */
.min-hader{
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #444;
}
.min-hader .min-banner{
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    background-image: url('../Images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.min-hader .min-nav-bar{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    background-color: #2992d6;
}
.min-hader .min-nav-bar > .container{
    height: 85px;
    align-items: center;
    color: #fff;
}
.min-hader .min-nav-bar > .container p{
    font-size: 25px;
    font-weight: bolder;
}
.min-hader .min-nav-bar > .container nav{
    display: flex;
}
.min-hader .min-nav-bar > .container nav li:first-child a{
    color: #fff;
}
.min-hader .min-nav-bar > .container nav li{
    color: #fff;
    margin: 0px 20px;
}

/* FINAL DAS CONFIGURAÇÕES EXTRAS */

/* Personalização da Section description-contact */

.description-contact{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    background-color: #f5ece6;
}
.description-contact article{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.description-contact article p{
    font-size: 30px;
    color: #6c3719;
    font-weight: bolder;
    text-align: center;
}
.form-contact{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.form-contact .container{
    align-items: center;
    justify-content: space-around;
}
.form-contact .form{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 400px;
    margin:0px 10px;
}
.form-contact .location-map{
    width: 480px;
}
.form-contact .location-map p, .form p{
    font-size: 22px;
    font-weight: bolder;
    color: #434343;
    margin-bottom: 20px;
}
.form form .name, .email{
    width: 42%;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #ddd;
    margin: 10px  10px;
    color: #444;
    border-radius: 5px;
}
.form form input::placeholder{
    color: #ddd;
}
.form form .tel, .assunto{
    width: 90%;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #ddd;
    margin: 10px  10px;
    color: #444;
    border-radius: 5px;
}
.form form textarea{
    width: 90%;
    height: 120px;
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid #ddd;
    margin: 10px  10px;
    color: #444;
    border-radius: 5px;
}
.form form textarea::placeholder{
    color: #ddd;
    font-size: 16px;
}
.form form input[type="submit"]{
     width: 150px;
     height: 40px;
     color: #fff;
     background-color: #ca4824;
     border-radius: 5px;
     border: 1px solid #ca4824;
     margin-left: 10px;
}

/* Estilização da Pagina description-page */
.description-page{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description-page article h1{
    font-size: 25px;
    font-weight: bolder;
    color: #ca4824;
    margin-bottom: 30px;
}
.description-page article p{
    font-size: 13px;
    color: #434343;
}
.photo-galerry{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-galerry .container{
    flex-wrap: wrap;
   justify-content: space-around;

}
.photo-galerry .content-img{
    width: 220px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.photo-galerry .content-img img{
    width: 100%;
    height: 220px;
}
.photo-galerry .content-img p{
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 13px;
    color: #666;
    margin: 5px 0px;
}

/* Personalizando a Section description_empresa */
.description_empresa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.description_empresa .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.description_empresa article h1{
    font-size: 40px;
    color: #444444;
    font-weight: bolder;
    margin: 70px 0px;
}
.description_empresa .sobre_empresa{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}
.description_empresa .sobre_empresa article{
    width: 380px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description_empresa .sobre_empresa article .title{
    font-size: 25px;
    font-weight: bolder;
    color: #ca4824;
    margin-bottom: 30px;
    text-align: center;
}
.description_empresa .sobre_empresa article .commit{
    font-size: 13px;
    line-height: 21px;
    color: #aaa;
    margin-bottom: 40px;
    text-align: left;
}