/* Criando o Rest da Pagina */
*,a,ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Criando Classes Suportes */
.container{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
/* Personalização do nav bar */
.nav-bar-top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #2992d6;
}
.nav-bar-top article{
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
}
.nav-bar-top article p{
    display: inline-block;
    padding: 10px;
}
.nav-bar-top article:last-child a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    transition: all 0.2s;
}
.nav-bar-top article i{
    margin: 0px 10px;
}
.nav-bar-top article:last-child a:hover{
    background-color: #fff;
    color: #2992d6;
}

/* Personalizando a Section nav-bar */
.nav-bar{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    
}
.nav-bar > .container{
    align-items: center;
}
.nav-bar nav ul{
    height: 90px;
    display: flex;
    align-items: center;
}
.nav-bar a{
    font-size: 15px;
    display: inline-block;
    padding: 15px;
    color: #666;
    border-right: 1px solid #eee;
    transition: all 0.2s;
}
.nav-bar li:nth-child(1 ) a{
    color:  #ca4824;
    border-bottom: 2px solid #ca4824;
}
.nav-bar a:hover{
    color:  #ca4824;
    border-bottom: 2px solid #ca4824;
}
.nav-bar li:nth-child(1 ) a:hover{
    color: #666;
    border-bottom: none;
}
.nav-bar i{
    margin: 0px 20px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}
.nav-bar .areaSarch{
    width: 30%;
    height: 50px;
    background-color: #222;
    position: absolute;
    border-radius: 10px;
    margin: 150px 0px;
    transition: all 0.2s;
    display: none;
}
.nav-bar .areaSarch form input{
    height: 50px;
    background-color: #222;
    padding-left: 30px;
    font-size: 18px;
    color: #666;
    border: none;
    outline: none;
    border-radius: 10px;
}

/* Personalizando a Section Banner */
.banner{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    background-image: url('../Images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.banner > .container{
    align-items: center;
}
.banner article{
    width: 50%;
    height: 40px;
    background-color: #2992d6;
    opacity: 0.5;;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}
.banner article p{
    font-size: 22px;
    font-weight: bold;
    
}

/* Personaliadno a Section welcome */
.welcome{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.welcome .container{
    justify-content: center;
}
.welcome article{
    width: 880px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome article h1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #444444;
    margin-bottom: 30px;
}
.welcome article p{
    font-size: 16px;
    color: #888;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.welcome article a{
    display: inline-block;
    padding: 20px;
    background-color: #2992d6;
    color: #fff;
    text-transform: uppercase;
    border-radius:5px;
    font-size: 16px;
}